@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~tom-select/src/scss/tom-select.bootstrap5.scss";

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
    font-size: .875rem;
    overscroll-behavior: none;
}